<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>


<h1>プロフィール</h1>
<h2><%= @user.profile %></h2>


<h1>出身地</h1>
<h2><%= @user.birthplace %></h2>

<h1>メールアドレス</h1>
<h2><%= @user.email %></h2>

